.ExperienceSection .timeline-container {
  z-index: 0;
  position: relative;
  padding-top: 40px; }

.ExperienceSection .timeline {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #bababa; }

.ExperienceSection .time-flag {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 20px 28px;
  background: #343a40;
  color: #f8f9fa; }
  .ExperienceSection .time-flag:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
    width: 20px;
    height: 20px;
    background: #343a40;
    transform: rotateZ(45deg); }
    @media (max-width: 767.98px) {
      .ExperienceSection .time-flag:before {
        right: initial !important;
        left: -10px !important; } }

.ExperienceSection .row {
  margin: 0 -50px 40px -50px; }
  @media (max-width: 767.98px) {
    .ExperienceSection .row {
      margin-left: 0;
      margin-right: 0; } }

.ExperienceSection .col {
  padding-left: 50px;
  padding-right: 50px; }

.ExperienceSection .left-col {
  text-align: right; }
  .ExperienceSection .left-col .time-flag:before {
    left: initial;
    right: -10px; }

@media (max-width: 767.98px) {
  .ExperienceSection .time-col {
    order: 1;
    padding: 0 0 0 30px;
    font-size: 16px;
    text-align: left; } }

@media (max-width: 767.98px) {
  .ExperienceSection .text-col {
    order: 2;
    flex: none;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    text-align: left; } }

.ExperienceSection h5 {
  text-transform: uppercase; }

.ExperienceSection i {
  margin-top: 10px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #bababa;
  border-radius: 50%; }
